body {
  font-family: 'PT Sans', sans-serif;
  min-height: 740px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.big-link {
  font-size: 30px;
}

.my-name {
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: linear
  opacity: 1;
}

.impress-on-step-3 .my-name,
.impress-on-step-4 .my-name,
.impress-on-step-5 .my-name,
.impress-on-step-6 .my-name,
.impress-on-step-7 .my-name,
.impress-on-step-8 .my-name,
.impress-on-step-9 .my-name,
.impress-on-step-10 .my-name,
.impress-on-step-11 .my-name,
.impress-on-step-12 .my-name,
.impress-on-step-13 .my-name,
.impress-on-step-14 .my-name,
.impress-on-step-15 .my-name {
  opacity: 0;
}

.spotlight-scenario-complexity {
  width: 158px;
  height: 70px;
  top: 230px;
  left: 91px;
}

.spotlight-scenario-token-argument {
  width: 88px;
  height: 40px;
  top: 277px;
  left: 404px;
}

.spotlight-test-argument-mock {
  width: 127px;
  height: 60px;
  top: 386px;
  left: 373px;
}

.spotlight-scenario-token-argument-passing {
  width: 88px;
  height: 40px;
  top: 156px;
  left: 356px;
}

.spotlight-false-positive-problem {
  width: 317px;
  height: 86px;
  top: 269px;
  left: 86px;
}

.spotlight-passing-reference {
  width: 317px;
  height: 86px;
  top: 205px;
  left: 86px;
}

.spotlight-triangulation {
  width: 241px;
  height: 58px;
  top: 157px;
  left: 74px;
}